[submodule "themes/strata"]
	path = themes/strata
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
[submodule "themes/hugo-strata-theme"]
	path = themes/hugo-strata-theme
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
